.network-list {
    display: flex;
    justify-content: center;

    margin-top: 16px;
}
.network-list__item:not(:last-child) {
    margin-right: 10px;
}
.network-list__link {
    width: 44px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #AFB1B8;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--hoverbackground);
        color: var(--textcolor-1);
    }
}
.network-list__icon {
    fill: currentColor;
}