.benefits {
    padding-top: 60px;
    padding-bottom: 60px;
}
@media screen and (min-width:1200px) {
    .benefits {
        padding-top: 94px;
        padding-bottom: 0;
    }
}

.benefits-list {
    text-decoration: none;
    list-style: none;
}
.benefits-list__item {
    width: 450px;
}
.benefits-list__item:not(:last-child) {
    margin-bottom: 10px;
}
.benefits-list__item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--textcolor-2);
    text-align: center;
}
.benefits-list__item-text {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

    color: var(--headercolor);

    margin-top: 10px;
}
.benefits-list__icon {
    width: 450px;
    height: 120px;

    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundcolor-3);
}
@media screen and (min-width:768px) {
    .benefits-list {
        display: flex;
        flex-wrap: wrap;
    }
    .benefits-list__item {
        width: 354px;
    }
    .benefits-list__item:not(:last-child) {
        margin-bottom: 0;
    }
    .benefits-list__item:nth-child(-n+2) {
        margin-bottom: 30px;
    }
    .benefits-list__item:nth-child(odd) {
        margin-right: 30px;
    }
    .benefits-list__icon {
        width: 354px;
    }
}
@media screen and (min-width:1200px) {
    .benefits-list {
        flex-wrap: nowrap;
        justify-content: center;
    }
    .benefits-list__item {
        width: 270px;
    }
    .benefits-list__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 30px;
    }
    .benefits-list__icon {
        width: 270px;
    }
}