.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--textcolor-3);
    .logo__color {
        color: var(--logocolor);
    }
}

.logo--footer {
    color: var(--textcolor-1);
}