// PORTFOLIO WORKS NAME & DESCRIPTION
.list-portfolio-section {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

}
.list-portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--textcolor-2);

    margin-bottom: 4px;
}
.list-portfolio-item {
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: var(--headercolor);
}
// PORTFOLIO WORKS ADD TEXT
.list-portfolio-wrap {
    position: relative;
    overflow: hidden;
}
.list-portfolio:hover .list-portfolio-description {
    transform: translateY(0);
}
.list-portfolio-description {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    color: #FFFFFF;
    padding: 63px 24px;

    height: 100%;
    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* overflow: auto; */
}