.navigation {
    margin-left: 93px;
}
.site-nav {
    display: flex;
    &__item:not(:last-child) {
        margin-right: 50px;
    }
    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--textcilor-3);
        text-decoration: none;
        list-style: none;
        position: relative;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--hovercolor);  
        }
    }
}