.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;

    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}