:root {
    --textcolor-1: #fff;
    --textcolor-2: #212121;
    --textcolor-3: #757575;
    --logocolor:#2196F3;
    --footercolor: rgba(255, 255, 255, 0.6);
    --headercolor:#757575;
    --hovercolor:#2196F3;
    --backgroundcolor: #FFFFFF;
    --backgroundcolor-2: #2F303A;
    --backgroundcolor-3: #F5F4FA;
    --backgroundcolor-4:#2196F3;
    --backgroundcolor-5:#E5E5E5;
    --hoverbackground:#2196F3;
    --hoverbackground-2:#188CE8;
}

body {
    font-family: "Roboto", "sans-serif";
    color:var(--textcolor-2);
    background-color: #ffffff;
}
