.hero--button {
    margin-top: 30px;
        
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        background: var(--hoverbackground-2);
    }
}