.data-name {
    display: block;
    font-size: 12px;
    line-height: calc(16/14);
    letter-spacing: 0.01em;

    color: #757575;
    margin-bottom: 10px;
}
.data-name-block {
    position: relative;
}
.data-name__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.data-name__field {
    width: 100%;
    height: 40px;
    margin-top: 4px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--textcolor-3);
    padding-left: 42px;

    transition-property: border, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border: 1px solid #2196F3;
        outline: transparent;
    }
}
.data-name__field::placeholder {
    color:rgba(0, 0, 255, 0.8);
}
.data-name__field:focus +.data-name__icon {
    fill: var(--hovercolor);
}